body{
    padding: 0px;
}


#calculadora{
    border: solid 1px black;
    border-radius: 8px;
    height: 135px;
    width: 160px;
    background-color: rgb(150, 150, 150);
    padding: 2px 0px 0px 2px;
}


#num{
    background-color: blue;
    width: 28px;
    height: 18px;
    padding: 0px;
    margin-top: 1px;
}


#operador{
    background-color: gray;
    margin-top: 1px;
    width: 28px;
    height: 18px;
    padding: 0px;
}

#calc{
    background-color: gray;
    margin-top: 1px;
    width: 60px;
    height: 18px;
    padding: 0px;
}

#resposta{
    border-radius: 8px;
    width: 150px;
    height: 25px;
    padding: 2px 3px;
    background-color: black;
    color: whitesmoke;
    margin: 2px 0 4px 0.5px;
    border: solid .5px grey;
}

#clear{
    background-color: red;
    margin-top: 1px;
    width: 28px;
    height: 18px;
    padding: 0px;
}


